.ipynb_checkpoints/
*/.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Ignore training feature folders
offline/attack_trained_features/
offline/fault_training_features/

results/attack/exp2_tree_size/pkl/
*.pkl